.select-name {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.select-container {
  text-align: center;

  select {
    vertical-align: middle;
  }
}

.content {
  text-align: center;
  position: relative;

  .link {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    color: gray;

    &.before {
      left: 10px;
    }

    &.next {
      right: 10px;
    }

    &:hover {
      color: red;
      background-color: #eee;
    }

    &.disabled {
      color: lightgrey;
      cursor: not-allowed;
    }
  }

  .container {
    position: relative;

    &.block {
      width: 90%;
      margin: auto;
      overflow-x: auto;
      white-space: nowrap;
    }

    &.video,
    &.gif {
      display: inline-block;
      vertical-align: top;
      margin-right: 60px;
    }

    img,
    .image {
      display: inline-block;
      vertical-align: top;
      margin-left: 25px;
    }

    video,
    img {
      width: 200px;
      height: 355px;
    }

    .image {
      .score {
        margin: 5px 0;

        span {
          display: inline-block;
          vertical-align: top;
          width: 100px;
          text-align: right;
        }
      }
    }
  }

  &.is-width {
    .container {
      //&.video {
      //  display: block;
      //}

      img,
      video {
        width: 300px;
        height: 168px;
      }
    }
  }
}
